/* CSS declarations go here */

@font-face {
    font-family: ClearSansReg;
    src: url('/fonts/ClearSans-Regular.woff');
}

@font-face {
    font-family: ClearSansMed;
    src: url('/fonts/ClearSans-Medium.woff');
}

@font-face {
    font-family: Magnolia;
    src: url('/fonts/Magnolia Script.otf');
}

body{
	overflow-x: hidden;
	font-family: "ClearSansMed";
	color:#333333;
}

.row{
	position: relative;
}

.title-row{
	text-align: center;
	width:100vw;
}

h1{
	font-family: "Magnolia";
	display: inline-block;
	color: white;
	text-align: left;
	font-style: italic;
	padding: 40px 0 0 0;
}

h2{
	font-size: 14pt;
	margin:0;
}

p{
	margin:0;
}

.u{
	text-decoration: underline;
}

#logo{
	position:absolute;
	left: 43px;
	top:50px;
	max-width:70px;
}

#wrapper{
	position: relative;
	padding:0;
	width:100vw;
	min-height:1300px;
	background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

.navbar-nav > li > a{
    padding-top:9px !important; 
    padding-bottom:0 !important;
    height: 40px;
    color: #333333;
}

.navbar {
	min-height:40px !important;
	border-radius: 0;
}

#my_nav > div > div.navbar-header > button{
	padding:0 7px 0 0;
	border: none;
}

.icon-bar{
	margin:2px 0 2px 0;
}

 .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus {
	background: orange;
	color: white;
}

#collapsed-navbar > ul.nav.navbar-nav > li > a:focus,
#collapsed-navbar > ul.nav.navbar-nav > li > a:hover,
#collapsed-navbar > ul.nav.navbar-nav > li > a:active,
.navbar-default .navbar-nav > .open > a {
	background: orange;
	color: white;
}

#my_nav{
	background:white;
	box-shadow: 1px 2px 3px rgba(21,21,21,0.1);
}

#home{
	padding-left:30px;	
}

.dropdown{
	padding-right:30px;	
}

.navbar-nav > li > .dropdown-menu {
	border-radius: 5px;
	background:orange;
}

.content-row{
	margin:40px 25px 0 25px;
	padding:8px 15px 5px 15px;
	background:rgba(255,255,255,0.8);
	border-radius: 10px;
}

.half-row{
	width: 100vw;
}

.content-text{
	padding:5px 10px 5px 10px;
	text-align: center;
}

.ontop{
	position: absolute;
}

#register-div{
	position: relative;
	display:inline-block;
	height:400px;
	width:30%;
	margin:40px 0 0 25px;
	padding:8px 15px 5px 15px;
	background:rgba(255,255,255,0.8);
	border-radius: 10px;
}

#maps-div{
	position: relative;
	display:inline-block;
	height:400px;
	width:60%;
	margin:40px 0 0 25px;
	padding:8px 15px 5px 15px;
	background:rgba(255,255,255,0.8);
	border-radius: 10px;
}

#blog-div{
	height:150px;
	width:96%;
	margin:40px 0 0 25px;
	padding:8px 15px 5px 15px;
	background:rgba(255,255,255,0.8);
	border-radius: 10px;
}

#line-div{
	position: relative;
	display:inline-block;
	height:590px;
	width:47.99%;
	margin:40px 25px 0 0;
	padding:8px 15px 5px 15px;
	background:rgba(255,255,255,0.8);
	border-radius: 10px;
}

#bar-div{
	position: relative;
	display:inline-block;
	height:590px;
	width:47.99%;
	margin:40px 0 0 0;
	padding:8px 15px 5px 15px;
	background:rgba(255,255,255,0.8);
	border-radius: 10px;
}

#images-div{
	display:inline-block;
	min-height:234px;
	width:98%;
	margin:40px 25px 0 25px;
	padding:8px 15px 15px 15px;
	background:rgba(255,255,255,0.8);
	border-radius: 10px;
}

#video-div{
	display:inline-block;
	min-height:234px;
	width:98%;
	margin:40px 25px 0 10px;
	padding:8px 15px 15px 15px;
	background:rgba(255,255,255,0.8);
	border-radius: 10px;
}

.form-group{
	margin:2px;
	padding:2px;
}

.form-label{
	font-size: 10pt;
}

.form-button{
	margin-top:5px;
	text-align: center;
}

.checkbox{
	margin-left:5px;
}

.registration{
	position: absolute;
	left:2px;
	right:2px;
	margin:auto;
	bottom:18px;
	text-align: center;
}

#register-modal{
	text-align: left;
}

#reg-text{
	position: absolute;
	left:5px;
	right:5px;
	margin:0 auto;
}

.register-text{
	padding:30px 0 30px 0;
	text-align: center;
}

#reg-modal > .modal-content{
	text-align: center;
	margin-top:32vh;
}

.modal-header{
	background: orange;
	border-radius: 5px 5px 0 0;
}

.modal-footer{
	background: orange;
	border-radius: 0 0 5px 5px;
}

#map{
	position: absolute;
	border:1px solid #333333;
	bottom:10px;
	left:0;
	right:0;
	margin: 0 auto;
	width:95%;
	height:85%;
}

#lineChart{
	position: absolute;
	width:100%;
	bottom: 15px;
	left:0;
	right:0;
	margin:0 auto;
}

#barChart{
	position: absolute;
	width:100%;
	bottom: 15px;
	left:0;
	right:0;
	margin:0 auto;
}

.ct-label{
	color:#333333;
}

.ct-chart {
    margin: 0 auto;
}

.ct-series-a .ct-line{
	stroke: #ff8400;
	stroke-width:3px;
}

.ct-series-a .ct-point{
	stroke:#003a8a;
	stroke-width:7px;
}

#x-axis-line{
	position: absolute;
	bottom:15px;
	right:40%;
	font-size: 8pt;
}

#y-axis-line{
	position: absolute;
	padding:0;
	margin:0;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
	left:-20px;
	top:50%;
	font-size: 8pt;
}

#legend{
	position: absolute;
	top:20%;
	left:43%;
	color: #e37601;
	font-size: 8pt;
}

#barChart .ct-series-a .ct-bar{
	stroke-width:15px;
	stroke:#003a8a;
}

#barChart > svg > g:nth-child(2) > g > line:nth-child(6),
#barChart > svg > g:nth-child(2) > g > line:nth-child(7),
#barChart > svg > g:nth-child(2) > g > line:nth-child(8),
#barChart > svg > g:nth-child(2) > g > line:nth-child(9){
	stroke:#ff8400;
}

.images-div{
	margin-top:20px;
	width:100%;
	text-align: center;
}

.video-div{
	margin-top:20px;
	width:100%;
	text-align: center;
}

.images{
	display: inline-block;
	width: 170px;
	border: 4px solid white;
	margin: 0 5px 15px 5px;
	cursor: pointer;
}

.videos{
	display: inline-block;
	width: 220px;
	border: 2px solid white;
	margin: 0 5px 15px 5px;
	cursor: pointer;
}

#image-modal-content{
	text-align: center;
	margin-top:10vh;
}

#imageCarousel > .carousel-inner > .item{
	text-align: center;
}

#imageCarousel > .carousel-inner > .item > img{
	margin:0 auto;
}

#imageCarousel > .left,#imageCarousel > .right{
	background: transparent;
}

#imageCarousel > .carousel-control{
	opacity: 1;
}

#left-arrow, #right-arrow{
	color:#003a8a;
	margin:0 -2vw 0 -2vw;
}

#left-arrow:hover, #right-arrow:hover{
	color:orange;
}

#video-modal-content{
	text-align: center;
	margin-top:10vh;
}

#videoCarousel > .carousel-inner > .item{
	text-align: center;
}

#videoCarousel > .carousel-inner > .item > img{
	margin:0 auto;
}

#videoCarousel > .left,#videoCarousel > .right{
	background: transparent;
}

#videoCarousel > .carousel-control{
	opacity: 1;
}

.vid-image{
	cursor: pointer;
}

#vid-warning{
	margin:0 0 10px 0;
}

#email, #social{
	position: relative;
	text-align: center;
}

.glyphicon-envelope{
	position: absolute;
	font-size: 16pt;
	color:#ff8400;

}

#email-text{
	display: inline-block;
	margin-left:30px;
	cursor: pointer;
	font-style: italic;
	font-weight: bold;
	font-size: 10pt;
}

.social-button-group{
	font-size: 18pt;
	margin:20px 10% 0 10%;
}

#facebook > i{
	/*color:#003a8a;*/
	color:#ff8400;
	text-shadow: 1px 1px 2px rgba(21,21,21,0.5);
}

#facebook > i:hover{
	color:#385699;
}

#twitter > i{
	color:#ff8400;
	text-shadow: 1px 1px 2px rgba(21,21,21,0.5);
}

#twitter > i:hover{
	color:#22cbff;
}

#google > i{
	color:#ff8400;
	text-shadow: 1px 1px 2px rgba(21,21,21,0.5);
}

#google > i:hover{
	color:#cd1e20;
}

#pinterest > i{
	color:#ff8400;
	text-shadow: 1px 1px 2px rgba(21,21,21,0.5);
}

#pinterest > i:hover{
	color:#cd1e20;
}



/**** dashboard ****/

#dashwrapper{
	position: relative;
	padding:0;
	width:100vw;
	min-height:100vh;
	background: -webkit-linear-gradient(#01378e, #50473e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#01378e, #50473e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#01378e, #50473e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#01378e, #50473e); /* Standard syntax */
}

#name-div{
	text-align: center;
}

.name{
	display: inline-block;
	color:#ff8400;
	font-size: 18pt;
}

.dash-row-1{
	text-align: center;
}

#pers-details{
	float:left;
	padding: 5px;
	margin:68px 0 0 20px;
	border: 2px dashed orange;
	border-radius: 10px;
	width:15%;
}

.pers-details-div{
	text-align: center;
	margin-bottom: 20px
}

#password-text{
	margin-bottom:20px;
}

.private-header{
	font-family: "Magnolia";
	font-size: 14pt;
	text-align: center;
	color: white;
	margin-bottom: 20px;
}

.private-text{
	text-align: center;
	color: white;
}

.private-text-orange{
	text-align: center;
	color: orange;
	font-size: 12pt;
}

#newsletter-div{
	float:left;
	margin:10px 0 20px 20px;
	width:15%;
	height:255px;
	border-radius: 10px;
	border: 2px dashed orange;
}

#newsletter-div > h4{
	margin: 30px 0 40px 0;
}

#checkbox-newsletter{
	text-align: center;
}

#newsletter-check{
	margin:45px 0 10px 0;
}

#message-div{
	float:right;
	width:62%;
	background: white;
	border-radius: 10px;
	margin:10px 10px 20px 10px;
	padding:10px;
}

#message-div > h4{
	color:#ff8400;
}

#message-modal{
	top:100px;
}

#message-modal > div > div > div:nth-child(1){
	text-align: center;
}

#blog-link-div{
	float:right;
	text-align: center;
	margin:10px 50px 20px 10px;
	width:15%;
	height:255px;
	border-radius: 10px;
	border: 2px dashed orange;
}

#blog-link-div > h4{
	margin: 30px 0 65px 0;
}

.btn-change{
	margin:10px 0 0 0;
}

#calendar{
	position: relative;
	display: inline-table;
	width:77%;
	float: right;
	margin:40px 50px 0 0;
}

#calendar > table{
	border: none;
}

#calendar > table > thead,
#calendar > table > tbody{
	background:white;
}



#calendar > table > thead > tr > th{
	border-radius: 10px 10px 0 0;
	text-align: center;
	font-family: "Magnolia";
	font-size: 12pt;
}

#calendar > table > tbody > tr > td{
	text-align: center;
}

#calendar > table > tbody > tr > td:nth-child(2){
    color:#ff8400;
}

#calendar-table > tbody > tr:nth-last-child(1) > td:nth-child(1){
	border-radius: 0 0 0 10px;
}

#calendar-table > tbody > tr:nth-last-child(1) > td:nth-child(5){
	border-radius: 0 0 10px 0;
}


/**** Blog ****/

#blog-container{
	margin:40px 0 0 0;
	width:75%;
	background: white;
	margin: 0 auto;
	border: 2px solid #ff8400;
	border-radius: 10px;
}

#blog-row{
	padding:30px 0 0 0;
}

#blog-container > div{
	padding-bottom:0;
}

#blog-container > div > div > div{
	width:100%;
}

.table-hover{
	margin:40px 0 0 0;
	border: none;
}

.table-hover > thead,
.table-hover > tbody{
	background:white;
}

.table-hover > thead > tr > th{
	border-radius: 10px 10px 0 0;
	text-align: center;
	font-family: "Magnolia";
	font-size: 12pt;
	border: none;
}

.table-hover > tbody > tr > td{
	border-right: none;
}

#entry-row{
	padding:100px 0 0 0;
}

#blog-container > div > div > div.meteor-blog-post-main > h1{
	color: #ff8400;
}

#blog-div > div > div > span{
	display:none;
}

#blog-div > div > ul > li > a > div.meteor-blog-latest-post-title{
	display: inline-table;
	color: #ff8400;
	font-size: 11pt;
}
#blog-div > div > ul > li > a > div.meteor-blog-latest-post-date{
	display: inline-table;
	color:#003a8a;
	padding-left:20px;
}

#blog-div > div > ul > li > a > div.meteor-blog-latest-post-date:before {
	content: "Published on: ";
}

#blog-div > div > ul > li{
	padding:10px 25px 0 0;
}

#blog-div > div > a{
	position: absolute;
	right:25px;
	bottom:5px;
	color:#003a8a;
	font-size: 10pt;
}



.meteor-blog-admin{
	position: relative;
	padding:0;
	width:100vw;
	min-height:100vh;
	background: -webkit-linear-gradient(#01378e, #50473e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#01378e, #50473e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#01378e, #50473e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#01378e, #50473e); /* Standard syntax */
}

.meteor-blog-admin > div > div:nth-child(1) > div.col-md-9,
.meteor-blog-admin > div > div:nth-child(1) > div.col-md-3 > h1{
	margin:70px 0 0 0;
}

.meteor-blog-admin > div > div > div{
	padding-top:40px;
}

.meteor-blog-admin > div > div > div > form > div > div > label{
	color: white;
	font-weight: normal;
}

.meteor-blog-admin > div > div > div > form > div > div > p > div > label{
	color: #ff8400;
}

.meteor-blog-admin > div > div > div > form > div > div > div.edit-mode > a{
	color: #ff8400;
}

.meteor-blog-admin > div > div > div > form > div > div > div.editable.medium-editor-insert-plugin{
	background:white;
}



@media screen and (max-width: 1365px) {
	#register-div{
	width:95%;
	margin:40px 25px 0 25px;
	}

	#maps-div{
	width:95%;
	margin:40px 25px 0 25px;
	}

	#blog-div{
	width:95%;
	margin:40px 25px 0 25px;
	}

	#line-div{
	height: 495px;
	width:95%;
	margin:40px 0 0 15px;
	}

	#bar-div{
	height: 495px;
	width:95%;
	margin:40px 0 0 15px;
	}
}

@media screen and (max-width: 1237px) {
	.images{
		width: 140px;
	}

	#blog-div > div > ul > li:nth-child(2){
		display: none;
	}

	#message-div{
		width:91%;
		margin-right: 55px;
	}

	#pers-details{
		float: none;
		margin:68px auto 0 auto;
	}

	#calendar{
		float:none;
		width:75%;
		margin:40px auto 0 auto;
	}
}

@media screen and (max-width: 1067px) {
	.images{
		width: 120px;
	}

	.videos{
		width: 160px;
	}

	#message-div{
		width:91%;
		margin-right: 55px;
	}

	#blog-link-div{
		width:45%;
	}

	#newsletter-div{
		width:45%;
	}

	#pers-details{
		width:20%;
	}
}

@media screen and (max-width: 931px) {
	#images-div > div.images-div > img:nth-child(3){
		display: none;
	}

	.images{
		width: 158px;
	}

	#blog-div > div > ul > li > a > div.meteor-blog-latest-post-date{
		display: none;
	}

	#message-div{
		width:80%;
		margin-right: 85px;
	}

	#pers-details{
		width:35%;
	}
}

@media screen and (max-width: 620px) {

	#logo{
		top:100px;
		left:0;
		right:0;
		margin:auto;
		width:50px;
	}

	h1{
		font-size: 22pt;
	}

	h2{
		font-size: 12pt;
	}

	p{
		font-size: 9pt;
	}

	.first-content{
		margin-top:70px;
	}

	#register-div{
		height:290px;
	}

	.register-text{
		padding:20px 0 20px 0;
	}

	#maps-div{
		height:290px;
	}

	#map{
		height:75%;
	}

	#blog-div{
	height:150px;
	}

	#line-div{
	height:385px;
	}

	#bar-div{
	height:385px;
	}

	#barChart .ct-series-a .ct-bar{
		stroke-width:9px;
	}

	#barChart > svg > g.ct-labels > foreignObject:nth-child(12) > span{
		width:20px !important;
	}

	.videos, .images{
		width: 130px;
	}

	#video-div{
		min-height:270px;
	}

	#blog-div > div > ul > li:nth-child(1){
		display: none;
	}

	#blog-div > div > a{
		position: absolute;
		font-size: 9pt;
		right:10px;
		bottom:50px;
	}
}

@media screen and (max-width: 530px) {
	.social-button-group{
		font-size: 16pt;
		margin:20px 8.5% 0 8.5%;
	}

	#email{
		margin-top:5px;
	}

	#email-text{
		font-size: 9pt;
	}

	.glyphicon-envelope{
		font-size: 14pt;
	}

	#message-div{
		margin-right: 60px;
	}
}

@media screen and (max-width: 495px) {

	#barChart > svg > g.ct-labels > foreignObject:nth-child(12) > span{
		width:15px !important;
	}

	#blog-div > div > ul > li{
		padding:10px 25px 0 0;
	}

	#message-div{
		margin-right: 60px;
	}
}

@media screen and (max-width: 464px) {

	#legend{
		top:25%;
	}
}

@media screen and (max-width: 400px) {

	h2{
		font-size: 11pt;
	}

	p{
		font-size: 9pt;
	}

	#barChart .ct-series-a .ct-bar{
		stroke-width:6px;
	}

	#barChart > svg > g.ct-labels > foreignObject:nth-child(12) > span{
		width:9px !important;
	}

	#legend{
		top:28%;
		font-size: 7pt;
	}

	.videos, .images{
		width: 100px;
	}

	#reg-form > .form-group > label{
		font-size: 8pt;
	}
}